body{
	background-color: #f5d437;
	font-family: Verdana;
}

#section{
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 75%;
	height: 100%;
	margin-top: -0.5%;
	margin-left: 12.5%;
	z-index: 1;
	box-shadow: -10px -10px 10px #A8A8A8
}

img.smallimg{
	max-width: 70%;
	width: auto;
	margin-top: 20%;
	margin-left: 20%;
	margin-right: 10%;
}

a img.smallimg:hover{
	max-width: 80%;
	width: auto;
	margin-left: 10%;
	margin-top:  10%;
}

img.headerimg{
	width: 50%;
	z-index: 0;
	margin-left: 25%;
}

.conteudo{
	margin-top: 10%;
	margin-left: 25%;
	margin-right: 25%;
}

.conteudo_aulas{
	margin-left: 10%;
	margin-right: 10%;
}

h4{
	text-align: center;
}

img.placas{
	width: 80%;
	margin-left: 10%;
	margin-top: 20%;
}

img.placas:hover{
	width: 85%;
	margin-left: 5%;
	margin-top: 15%;
}

.conteudo a{
	text-decoration: none;
}

.videos{
	background-color: #f5d437;
	border-radius: 10px;
	/*width: 20%;*/
	height: 30%;
	overflow: hidden;
	margin-left: 10%;
	margin-top: 10%;
}

.videos img{
	width: 100%;
	height: 100%;
}

.videos a{
	text-decoration: none;
}

.videos img:hover{
	width: 120%;
	height: 120%;
}


.posts{
	background-color: #f5d437;
	border-radius: 10px;
	height: 40%;
	width: 100%;	
	overflow: hidden;
}
.posts img{
	overflow: hidden;
	height:  60%;
	width: 100%;
}

#container{
	content:"";
	display:table;
	clear:both;
	padding:0.01em 16px;
}